/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter-Variable"), sans-serif;
  font-variation-settings: "wght" var(--weight-article-text, 410);
  background-image: var(--gradient);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  max-inline-size: 700px;
  background-color: #fff;
  margin-inline: auto;
  margin-block: 100px;
  padding-inline: clamp(16px, calc(-106.885px + 32.769vw), 122.5px);
  padding-block: clamp(122px, calc(112.769px + 2.462vw), 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.width-inline {
  inline-size: var(--width-inline);
}

.header__title {
  font-family: var(--accent-font, "PressStart2P"), sans-serif;
  font-size: var(--header-title-size, clamp(49px, 43.37px + 1.5vw, 65px));
  line-height: 100%;
  font-weight: 400;
}

.header__text {
  font-family: var(--accent-font, "PressStart2P"), sans-serif;
  font-size: var(--headder-text-size, clamp(14px, 10.83px + 0.85vw, 23px));
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.main {
  max-inline-size: 700px;
  margin-inline: auto;
}

.card-list {
  display: grid;
  gap: 50px;
}

.card {
  background-color: #fff;
  margin-inline: auto;
}

.card__title {
  font-variation-settings: "wght" var(--weight-article-title, 715);
  padding-inline-start: 10px;
  font-size: 18px;
  line-height: 100%;
  padding: 4px 10px;
}

.img-container {
  position: relative;
}

.img-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, "PressStart2P"), sans-serif;
  font-size: 14px;
  line-height: 0.9;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

.card__image {
  display: block;
  inline-size: 100%;
}

.card__text {
  margin: 25px;
  font-size: 18px;
  line-height: calc(21px / 18px);
}

.button {
  background-color: inherit;
  border: none;
  padding: 0;
}

.border {
  border: 2px solid #000;
}

.button-container {
  display: flex;
  justify-content: end;
  gap: 6px;
  margin: 0 25px 25px 0;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-family: var(--accent-font, "PressStart2P"), sans-serif;
  font-size: 14px;
  line-height: 0.9;
}

.svg-memory {
  block-size: 21px;
  inline-size: 21px;
}

.button-memory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 50px auto 100px;
  block-size: 53px;
  inline-size: 333px;
  background-color: #fff;
}

.dialog {
  max-inline-size: 351px;
  inline-size: clamp(339px, 334.77px + 1.13vw, 351px);
  margin: auto;
  padding: 0;
}

.svg-dialog {
  block-size: 39px;
  inline-size: 39px;
}

.dialog-description {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding-block: 30px;
  padding-inline: 30px;
}

.dialog-text {
  font-family: var(--accent-font, "PressStart2P"), sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.button-dialog {
  margin-block: 0 30px;
  margin-inline: 26px;
}

.button__text-dialog {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10.5px;
  padding-inline: clamp(114.5px, 108.87px + 1.50vw, 130.5px);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.page:has(.dialog[open]) {
  overflow: hidden;
}

.clear-list {
  filter: saturate(150%);
}

.saturate {
  filter: saturate(390%)
}

.grayscale {
  filter: grayscale(80%);
}

.invert {
  filter: invert(68%);
}

.hue-rotate {
  filter: hue-rotate(0.6turn);
}

.sepia {
  filter: sepia(0.9);
  z-index: 0;
}

.contrast-blur {
  filter: contrast(350%) blur(3px);
}

@supports (text-stroke: 1px #fff) {
  .img-label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: 1px #fff;
  }
}

@media (width <= 375px) {
  .button-memory {
    flex-direction: column;
    block-size: 82px;
    inline-size: 304px;
  }

  .svg-memory {
    block-size: 28px;
    inline-size: 28px;
  }
}